/* HEADER BASE */
.header {
  padding-top: 60px;
  background-color: var(--base-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  height: 500px;
  position: relative; /* permite imagem absoluta dentro */
  overflow: hidden;
}

/* TEXTO */
.asideleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2; /* fica sempre sobre a imagem */
}

.asideleft h2 {
  font-family: var(--font-navbar);
  font-size: 40pt;
  line-height: 2.5rem;
}

.asideleft h1 {
  font-family: var(--font-name);
  font-size: 40pt;
}
.asideleft h3 {
  font-family: var(--font-profile);
  font-size: 18pt;
  color: var(--highlighted-color);
}
/* IMAGEM */
.asideright {
  position: relative;
  right: 10%;
  top: 70%;
  transform: translateY(-50%);
  width: 400px;
  height: 600px;
  z-index: 1;

  opacity: 0.8;
}

.divisoria {
  object-fit: contain; /* mantém proporção */
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .header {
    height: 350px; /* altura proporcional à tela */
  }

  .asideleft {
    margin-left: 2rem;
  }

  .asideleft h2 {
    font-size: 1rem;
    line-height: 1rem;
  }

  .asideleft h1 {
    font-size: 1.3rem;
  }

  .asideleft h3 {
    font-size: 0.8rem;
  }

  .asideright {
    transform: translate(-10%, -40%);
    width: 150px; /* reduz no mobile */
    height: 500px;
  }

  .divisoria {
    object-fit: contain;
  }
}
