.footer {
  display: flex;
  flex-direction: column;
  padding: var(--padding-section);
}

.footer h2 {
  font-family: var(--font-title);
  font-size: var(--font-size-titulo);
}

.footer p {
  font-family: var(--font-paragraphs);
  font-size: var(--font-size-subtitle);
}

.icons {
  display: flex;
  justify-content: center;
}

.icons ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin-top: 4rem;
}

.linha {
  border-top: 3px solid #fff;
  margin-top: 2rem;
  height: 20px;
}

.rights {
  text-align: center;
  font-family: var(--font-paragraphs);
  font-size: var(--font-size-subtitle);
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .footer {
    padding: var(--padding-section-query);
    text-align: left; /* centraliza tudo */
    flex-direction: column;
  }

  .footer h2 {
    font-size: var(--font-size-titulo-query);
  }

  .footer p {
    font-size: var(--font-size-subtitle-query);
  }

  .icons img {
    width: 28px !important;
    height: 28px !important;
  }
  .icons ul {
    flex-direction: row;
    gap: 1rem; /* menos espaço entre ícones */
    margin-top: 2rem; /* reduz espaço acima dos ícones */
  }

  .linha {
    margin-top: 1rem; /* reduz espaço antes da linha */
    height: 10px; /* altura menor */
  }

  .rights {
    font-size: var(--font-size-subtitle-query);
    margin-top: 0.5rem;
  }
}
