.container {
  display: flex;
  justify-content: center;
  background-color: var(--base-color);
  padding: var(--padding-section);
  padding-top: 8rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 700px;
}

.cards button {
  background-color: var(--base-color);
  padding: 5rem;
  font-size: 24pt;
  text-align: center;
  font-family: var(--font-contentmenu);
  transition: var(--transition);
  cursor: pointer;
}

.cards button:focus {
  color: var(--highlighted-color);
}

/* texts */

.texts {
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-right: 4rem;
}

.texts h2 {
  text-align: center;
  font-family: var(--font-title);
  font-size: var(--font-size-titulo);
}

.texts p {
  font-family: var(--font-paragraphs);
  font-size: var(--font-size-subtitle);
  text-align: justify;
  word-spacing: 6px;
}
/* --- Mobile --- */
@media (max-width: 768px) {
  .container {
    padding: var(--padding-section-query);
    flex-direction: column;
    align-items: center; /* centraliza no mobile */
  }

  .cards {
    width: 100%; /* ocupa a tela */
    max-width: 400px; /* limite menor no mobile */
  }

  .cards button {
    padding: 2rem;
    font-size: 12pt;
  }

  .texts {
    margin-left: 0; /* tira deslocamento lateral */
    margin-bottom: 2rem;

    margin-right: 0;
  }

  .texts h2 {
    font-size: var(--font-size-titulo-query);
    text-align: center;
  }

  .texts p {
    font-size: var(--font-size-subtitle-query);
    text-align: justify;
  }
}
