.section {
  padding: var(--padding-section);
}

.titulo {
  font-size: var(--font-size-titulo);
  font-family: var(--font-title);
}

.paragraph {
  font-size: var(--font-size-subtitle);
  text-align: justify;
}

.transitionWrapper {
  position: relative;
  min-height: 400px; /* garante espaço */
  overflow: hidden; /* corta conteúdo durante movimento */
}
